[submodule "submodules/LLaVA"]
	path = submodules/LLaVA
	url = git@github.com:haotian-liu/LLaVA.git
[submodule "submodules/AdversarialAttacks"]
	path = submodules/AdversarialAttacks
	url = git@github.com:huanranchen/AdversarialAttacks.git
[submodule "submodules/hh-rlhf"]
	path = submodules/hh-rlhf
	url = git@github.com:anthropics/hh-rlhf.git
[submodule "submodules/Visual-Adversarial-Examples-Jailbreak-Large-Language-Models"]
	path = submodules/Visual-Adversarial-Examples-Jailbreak-Large-Language-Models
	url = git@github.com:Unispac/Visual-Adversarial-Examples-Jailbreak-Large-Language-Models.git
[submodule "submodules/prismatic-vlms"]
	path = submodules/prismatic-vlms
	url = git@github.com:TRI-ML/prismatic-vlms.git
